* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(167.96deg, #8257E5 0%, #271A45 100%);

  display: grid;
  place-content: center;
  
}

body * {
  font-family: 'Rubik';
  letter-spacing: -0.02em;
}

#boarding-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  /*width: 327px;
  height: 656px;*/
  left: calc(50% - 327px/2);
  top: calc(50% - 656px/2);
}

#ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 327px;
  height: 544px;

  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));

  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

#flight-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 32px;
  gap: 24px;

  width: 327px;
  height: 191px;

  border-radius: 24px;
}

#container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 263px;
  height: 36px;
}

#flight-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#flight-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 57px;

  width: 263px;
  height: 83px;
}

#departure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 103px;
  height: 83px;
}

#arrival {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;

  width: 121px;
  height: 83px;
}

.font-gray {

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: rgba(0, 0, 0, 0.64);
}

.font-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.88);
}



#passanger-info {
  width: 327px;
  height: 84px;

  border-radius: 24px;
}

#h1 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;


  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

.footer {
  width: 327px;
  height: 48px;

  font-family: 'Rubik';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;

  opacity: 0.64;
}